/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 20px 0;
}

ul {
  margin-left: 20px;
}

#main-head {
  width: 100%;
  height: 150px;
  background-color: rgba(78, 160, 255, 255);
  background-image: url(../img/pattern.png);
  position: relative;
}

.logo {
  width: 25%;
  height: 100px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.light-grey {
  color: #9e9e9e;
}

.light-blue {
  color: #4bbaea;
}

.blue {
  background-color: #20a9e5;
  color: #ffffff;
}

.bg-light-blue {
  background-color: #b1e5f2;
}

.author {
  font-size: 0.7rem;
}

.important {
  background-color: #ffff00;
}

td {
  padding: 20px;
}

.w-40 {
  width: 50%;
}

.foto-container-1 {
  width: 25%;
  height: 200px;
  background-image: url(../img/monitor.jpg);
  margin-bottom: 20px;
}

.foto-container-2 {
  width: 25%;
  height: 200px;
  background-image: url(../img/graph.jpg);
}

.foto-text {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 20px 10px;
}
